# Ignore everything by default, contrib sources are coming from other places
*

# Include specific files that should be tracked by Git
!.gitignore
!uno-umb/
!uno-umb/**
uno-umb/**/__pycache__/
uno-umb/**/*.pyc
