# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!uno-umb-dt-energy.cc
!uno-umb-dt-energy-notes.md
!CMakeLists.txt
